@import 'tailwindcss';
/* font-family: "Red Hat Text", sans-serif; */

@theme {
    --font-redhat: "Red Hat Text", sans-serif;
    
    /* red */
    --color-primary-red: hsl(14, 86%, 42%);

    /* green */
    --color-secondary-green: hsl(159, 69%, 38%);

    /* rose shades */
    --color-rose-50: hsl(20, 50%, 98%);
    --color-rose-100: hsl(13, 31%, 94%);
    --color-rose-300: hsl(14, 25%, 72%);
    --color-rose-400: hsl(7, 20%, 60%);
    --color-rose-500: hsl(12, 20%, 44%);
    --color-rose-900: hsl(14, 65%, 9%);
}

@layer utilities {}

body {
    @apply font-redhat text-base text-rose-900;
}